/* You application must have a responsive design through the use of media queries, 
        Bootstrap, CSS Grid, Flexbox, and/or other similar approaches - 
        we need to ensure that you can integrate your new JavaScript skills 
        with your HTML/CSS skills you previously learned
    We will test your site on at least two 
        different screen sizes (mobile and desktop) 
        and must see that you’ve incorporate 
        some element of responsive design to it */


body {
    background-color: black;
}

header {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    align-self: center;
    margin: auto;
    text-align: center;
    width: 100vw;
}

header > p {
    align-self: center;
    margin: auto;
    margin-bottom: 10vh;
}

div > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    align-self: center;
    margin: auto;
    text-align: center;
}

img {
    display: block;
    margin: auto; 
}

.submit {
    align-self: center;
    margin: auto;
    display: flex;
}

/*For Selection Tools
-------------------------------------------------*/

.fullWidth {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
}

/*Media Queries
-------------------------------------------------*/
/* tablet media query */

@media 
only screen and (min-width: 768px) and (max-width: 991px) {

}


/* desktop media query */

@media
only screen and (min-width: 992px) {
    .fullWidth {
        max-width: 75%;
    }
}